<div class="row">
	<h4>Actualización de Habitaciones</h4>
	<div class="form_habitacions col m12">
		<%= form_for @bedroom do |f|%>
			<%= render 'form_bedroom', f: f, costs: @costs %>
		<% end %>
	</div>
</div>