<div class="row">
	<div class="individual_slader col m12">
			<img src="" alt="" id="individual_slader" class="col m12">
	</div>
	<div class="carousel">
	    <% @image.each do |i|%>
			<a class="carousel-item col m2" href="#one!"><img src="<%= i.cover %>"></a>
		<% end -%>
	</div>
</div>
