<div class="contenedor_habitaciones col m12">
	<%= render 'content_bedroom'%>
	<div class="reserva col m7 ">
		<%= form_for ([ @bedroom,@reservation]) do |f| %>
			<%= render 'form_reservation', f: f, accion: "Reservar"%>
		<% end %>
	</div>
</div>